<% total = 0 %>
<ul class="dineros">
<% biens.each do | x | %>
  <% total += x[0].valor_fiscal %>
	<li class="ico <%= x[0].css_class_name %>">
		<div class="nombre_bien">
			<%= x[0].nombre_bien_s %>
		</div>
		<div class="data"><%= x.to_json %></div>
		<%
		if x[0].porcentaje
			if x[0].porcentaje != 100 %>
			<div class="cont_line">
				<div class="ico line" <%= x[1] ? "no_opacity" : ""%>></div>
			</div>
		<%	end
		end
		%>
		<div class="monto">
			<% if x[1] %>
			2 o + titulares
			<% else %>
				<% #if x[0].valor_adq.to_i %>
				<% if x[0].valor_fiscal.to_i != 0
					%>
				  <%= "#{x[0].get_moneda('fiscal')}" %><span class="numero"><%= x[0].valor_fiscal %></span>
				<%else %>
				  <%= "#{x[0].get_moneda('adqisicion')}" %><span class="numero"><%= x[0].valor_adq %></span>
				<%end %>
			<% end %>
		</div>
	</li>
<% end %>
</ul>
<table class="tabla">
		<tbody>
			<tr><td class="first"><b>SUBTOTAL:</b></td><td class="second"><b><span class="numero"><%= total.to_s.reverse.gsub(/...(?=.)/,'\&.').reverse %> US$</b></span><div class="data">{"monedas":{"valor_fiscal":"US$"}, "valor_fiscal": "<%= total %>"}</div></td></tr>
		</tbody>
</table>
