<%
	datos_cargados_por = [ "Directorio Legislativo por el Poder Legislativo" ]
	currency = params[:currency] ? params[:currency] : 'ARS'
%>
<script type="text/javascript">
function Ddjj(){
	var self = this;
	/* nodos html */
	self.n ={
		icos: $("ul li.ico, ul.dineros li, table.tabla tbody tr"), // nodos para tooltip
		// rows_tables: $("table.tabla tbody tr td.second"),
		tooltip: $("#tooltip"),
		ver_mas: $("a.ver")
	};
	self.cache_ddjj= function(key, _function){ // cache events
		if(!this.cache){
			this.cache={};
		}
		if(!this.cache[key]){
			this.cache[key] = _function;
			//console.log("no che");
		}else{
			//console.log("desde che");
		}
		return this.cache[key];
	};

	/* template tooltip */
	self.tmpl_tooltip = function(data){
		data = $.parseJSON(data);
		var tooltip = "";

		function tmpl_li(x, xx){
			var tmpl = "<li>_x_: <span>_xx_</span></li>";
			return tmpl.replace("_x_", x).replace("_xx_", xx);
		}

		function get_list(obj, compartido){ // compartido = recibe true si el bien es compartido en la ddjj
			// if(compartido){
				// var _obj = obj[0];
			// }else{
			// }

				var _obj = obj;
			if(compartido){
				var txt_tooltip = {
					"titular_dominio": "Titular",
					"fecha_desde":"Fecha desde",
					"fecha_hasta": "Fecha hasta",
					"porcentaje": "Porcentaje",
					"origen":"Origen",
					"valor_fiscal": "Valor",
					"valor_adq":"Valor de adq.",
					"mejoras": "Mejoras"
					// "vinculo": "Declarante"
				};
			}else{
				var txt_tooltip = {
					"nombre_bien_s": "Tipo",
					"direccion": "Dirección",
					"barrio":"Barrio",
					"localidad":"Localidad",
					"provincia":"Provincia",
					"pais":"País",
					"descripcion": "Descripción",
					"modelo": "Modelo",
					"obs": "Observaciones",
					"entidad": "Entidad",
					"ramo": "Ramo",
					"cant_acciones":"Cantidad",
					"destino":"Destino",
					"periodo": "Período",
					"superficie":  "Superficie",
					"_separador_":  "<li><hr /></li>",
					// "titular_dominio": "Titular del dominio",
					"titular_dominio": "Titular",
					"fecha_desde":"Fecha desde",
					"fecha_hasta": "Fecha hasta",
					"porcentaje": "Porcentaje",
					"origen":"Origen",
					"valor_fiscal": "Valor",
					"valor_adq":"Valor de adq.",
					"mejoras": "Mejoras"
					// "vinculo": "Declarante"
				};

			}

			for(var key in txt_tooltip){
				if(!!_obj[key] && !!_obj[key] !== ''){
					var i = [txt_tooltip[key],_obj[key]];
					if(key == "valor_adq" || key == "valor_fiscal" || key == "mejoras"){
						if((i[1] +"").length > 3){
							i[1] =(+i[1]).format(i[1] % 1 === 0 ? 0 : 2, ',', '.');
						}
						i[1] = _obj["monedas"][key] + "" + i[1];
					}

					if(key == "porcentaje")
						i[1] = (+i[1]).format(i[1] % 1 === 0 ? 0 : 2, ',', '.') + "%";

					if(key == "cant_acciones")
						i[1] = (+i[1]).format(i[1] % 1 === 0 ? 0 : 2, ',', '.');




					// if(key == "titular_dominio"){
						// i[1] = i[1] +" "+ _obj["porcentaje"] + "%";
						// // if(compartido){
							// // i[1] += ", "+ obj[1][key] + " " + obj[1]["porcentaje"] + "%"; // agrega el porcentaje del otro declarante
						// // }
					// }

					if(key == "superficie")
						i[1] = (+i[1]).format(i[1] % 1 === 0 ? 0 : 2, ',', '.') + _obj["u_medida"];

					if(key == "fecha_desde" || key == "fecha_hasta"){
						var date = i[1].split("-");
						i[1] = date[2] + "/" + date[1] + "/" + date[0];
					}
					// if(key == "nombre_bien_s")
						// i[1] = i[1] + _obj["u_medida"];

					tooltip += tmpl_li( i[0], i[1].toUpperCaseFirst ? i[1].toUpperCaseFirst() : i[1]);
				}
				if(key == "titular_dominio" && !_obj[key] ){
					if(_obj["vinculo"])	{
						tooltip += tmpl_li( txt_tooltip["titular_dominio"], _obj["vinculo"]);
					}

				}
				if(key == "_separador_")
					tooltip += txt_tooltip["_separador_"];
			}
			// if(compartido){
				// tooltip += "<li><hr /></li>"
//
			// }
		}

		if (data.constructor == Array) { // si es un array es arma el tooltip para dinero $$$ ó bienes compartidos
			if( data[0].tipo_bien_s.toLowerCase() == "Dinero ahorros".toLowerCase()){  // para dinero
				var template = Handlebars.compile($("#table_tooltip").html());
				Handlebars.registerHelper('formatNumber', function(n){
					return (+n).format(n % 1 === 0 ? null : 2, ',', '.');
				});
				return template(data);
			}else{  // para los icos
				var i = 0;
				get_list(data[i]);
				if(data[i + 1]){
					i++;
					tooltip += "<li><hr /></li>";
					for(i; i<data.length; i++){
						console.log(i)
						get_list(data[i], true);
						if (data[i + 1]){
							tooltip += "<li><hr /></li>";
						}
					}
				}
			}
		}else{ // para todos los damas
			get_list(data);
		}

		if(tooltip){
			tooltip= $(document.createElement("ul")).html(tooltip);
		}

		return tooltip;

	};

	// self.show_tooltip=function(){
		// $this = $(this);
//
		// var data = $this.find(".data").html();
		// var tooltip = self.cache_ddjj (data, self.tmpl_tooltip(data));
		// self.n.tooltip.html(tooltip);
	// };

	self.data_tooltip=function(obj){
		$this = $(obj);
		var data = $this.find(".data").html();

		var tooltip = self.cache_ddjj (data, self.tmpl_tooltip(data));

		self.n.tooltip.html(tooltip);
	};

	self.ver_mas = function(){ // btn +/- ver mas o menos en las ddjj
		var $this=$(this);
			var $next = $this.next();
			if($next.is(':hidden')){
					$next.slideDown();
					$this.addClass("menos");

			}else{
					$next.slideUp();
					$this.removeClass("menos");
			}
			return false;
	};
	self.checkear_vacios = function(){
		var nodos = self.n.ver_mas.next();
		for(var i = 0; i < nodos.length; i++){
			// var childs=nodos[i].childNodes;
			if(nodos[i].tagName == "UL"){
				var child = nodos[i].getElementsByTagName("li");
			}else{
				var child = nodos[i].getElementsByTagName("tbody")[0].getElementsByTagName("tr");
			};
			if(!child.length){
				nodos[i].style.display="none";
				nodos[i].previousElementSibling.className = "ver";
			}
		}

	};

	(function(){
		// self.n.icos.hover(self.show_tooltip);
		$.tooltip(self.n.icos, self.n.tooltip, self.data_tooltip); // objetoOver, tooltip, callBack
		self.checkear_vacios();  // ************************************************* corrigei esto....***************************************************
		self.n.ver_mas.click(self.ver_mas);
		// social
		$("ul.social li a").click(function(){ // botones sociales
			console.log(this.target)
			self.social.share(this.target);
			return false;
		});

		var hash = window.location.hash;
		// busca filtros****
		if(hash){
			hash = hash.replace("#", "");
			var opacity = ".4",
				data_page = $("li.ico, li[data-flag=moneda],  table.tabla tbody tr"),
				filtro = data_page.filter(":contains("+hash+")");

			if(filtro.length && hash.length >=3){
				var txt = 'FILTRO: <span>"'+ hash +'"<span>',
					$P = $("p#filtrar"),
					a_filtrar = '<a href="#" class="cont_flecha filtrado" ><span class="spt btn_flecha filtrar"> </span>Sacar filtro</a>';

				filtro.each(function(x){
					var	el = filtro[x],
						p = el.parentNode;
					el.style.display="none";
					var	$clon = $(el.cloneNode(true));
					// console.log(clon)
					$clon.addClass("clon").prependTo(p);
					$clon.show("slow");
				});
				data_page.css("opacity", opacity);
				$P.show().append(txt + a_filtrar)

				// actions
				var $clones = $(".clon");
				$.tooltip($clones, self.n.tooltip, self.data_tooltip)
				$("p#filtrar a.cont_flecha").click(function(){
					var $this = $(this);
					if($clones.is(":animated") || data_page.is(":animated")) return false;
					if($this.is(".filtrado")){
						data_page.show("slow")
								.fadeTo("slow", 1);
						filtro.css("opacity", opacity);
						$clones.hide("slow");
						$this.removeClass("filtrado")
							.html('<span class="spt btn_flecha filtrar"> </span>Filtrar');

					}else{
						data_page.css("opacity", opacity);
						$clones.show("slow");
						filtro.hide("slow");
						$this.addClass("filtrado")
							.html('<span class="spt btn_flecha filtrar"> </span>Sacar filtro');
					}
					return false;
				});
				// filtro.show()
			}
		}
		// event_btn_gen_iframes(); // aplication.js
		event_btns(); // aplication.js
	})();

}
Ddjj.prototype.social = new MiniSocial();
</script>

<div class="cont_ddjj poder_<%= @ddjj.persona_cargo.cargo.poder_id %> gris">
	<% if @page %>
		<a href='<%= url_for :action => "index" %>' class="cont_flecha" title="volver" id="volver"><span class="spt btn_flecha back"> </span>VOLVER</a>
		<%= render "buscador_x_str"%>
	<% end %>
	<div class="header">
		<h2><span class="spt logo_poder">&nbsp;</span> <span id="log_txt">Poder <%= Cargo::PODER[@ddjj.persona_cargo.cargo.poder_id] %> <span class="detalle"></span></span>
		</h2>
	</div>
	<div class="row info">
		<div class="col_1">

			<div class="descripcion">
				<div class="cell_8">
				<!-- <img src="#" /> -->
				<!-- Link a al tag en la nacion.com.ar -->
			<%if @ddjj.persona_cargo.persona.tag_id%>
				<h3><a href="<%= @ddjj.persona_cargo.persona.get_tag_nacion %>" title="Ver notas relacionadas con: <%= @ddjj.persona_cargo.persona.nom_comp %>" target="_blanc"><%= @ddjj.persona_cargo.persona.nom_comp %></a></h3>
			<%else%>
				<h3><%= @ddjj.persona_cargo.persona.nom_comp %></h3>
			<%end%>

				<h4>DDJJ de <span><%= "#{@ddjj.ano} #{@ddjj.tipo_ddjj}" %></span><!-- <%= @ddjj.visitas ? content_tag(:span, "- #{@ddjj.visitas} visitas", :class=>"small") : ""%>  --></h4>
				<h5><%= "#{@ddjj.persona_cargo.cargo.cargo}" %></h5>
				<div style="color: #888989; margin: 5px 0 0; line-height: 1.3">
					<p><%= "#{@ddjj.persona_cargo.jurisdiccion.nombre if @ddjj.persona_cargo.jurisdiccion}" %></p>
					<% if @ddjj.persona_cargo.ingreso %>
						<% if @ddjj.persona_cargo.cargo.poder_id == 3 %>
						<!--<p>Ingreso al Poder judicial <%= @ddjj.persona_cargo.ingreso.strftime "%d/%m/%Y" %></p>-->
						<% else %>
						<!--<p>Ingreso a la función pública <%= @ddjj.persona_cargo.ingreso.strftime "%d/%m/%Y" %></p>-->
						<% end %>
					<% end %>
					<% if @ddjj.persona_cargo.persona.ficha_d_l && @ddjj.persona_cargo.persona.ficha_d_l != "" %>
						<a class="ficha_d_l" href="<%= @ddjj.persona_cargo.persona.ficha_d_l %>" title="Ver ficha de <%= @ddjj.persona_cargo.persona.nom_comp %> en Directorio Legislativo" target="_blanc">Ver ficha en Directorio Legislativo</a>
					<%end%>

				</div>
				</div>
				<div class="cell_4">
					<a href='<%= @ddjj.url%>' target="_blank" class="cont_flecha" title="volver" id="" style="/*position:absolute; top: 45px;right: 49px;*/"><span class="spt btn_flecha cloud"> </span>Ddjj original</a>
					<% if @ddjj.flag_presenta %>
					<%if  PERMITIR_EXPORTAR_DATA %>
						<ul id="descargas">
							<li class="cont_flecha" title="volver" id="" style="/*position:absolute; top: 0px;right: 20px;*/"><span class="spt btn_flecha down"> </span>Descargar datos
								<ul>
						<%if @ddjj.created_at < EXPORTAR_DATA.ago %>
									<li><a href="/ddjj/<%= @ddjj.flag_search %>.json" title="Descargar en formato JSON">JSON</a></li>
									<li><a href="/ddjj/<%= @ddjj.flag_search %>.xml" title="Descargar en formato XML">XML</a></li>
									<li><a href="/ddjj/<%= @ddjj.flag_search %>.csv" title="Descargar en formato CSV">CSV</a></li>
						<% else %>
									<li>Próximamente</li>
						<% end %>
								</ul>
							</li>
						</ul>
					<% end %>
					<% end %>
					<div class="total_superior"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col_1">
			<section class="ddjj">
				<h2 hidden>bienes declarados</h2>

				<%
				if @ddjj.flag_presenta == 0  # Si NO presenta DDJJ imprime la carta
				%>
				<% if @page %>
					<%= render partial: "no_presenta_ddjj" %>
				<% end %>

				<% else # si presenta DDJJ
				%>

				<p id="filtrar" hidden>&nbsp;</p>
				<%
					total_patrimonio = 0
					total_deudas = 0
					biens_dolar = 0
				%>
				<%
					@ddjj.biens.each do | x |
						#total_patrimonio += x.valor_fiscal
						if x.tipo_bien_s.downcase!="ingresos cargo" && x.tipo_bien_s.downcase!="ingresos otros" && x.tipo_bien_s.downcase!="ingresos ventas"
							if x.get_currency == "USD"
								biens_dolar = x.valor_fiscal
							else
								if x.tipo_bien_s.downcase!="deudas"
									total_patrimonio += x.valor_fiscal
								else
									total_deudas += x.valor_fiscal
								end
							end
						end
					end
					cotizacion = convert_currency(total_patrimonio, currency, 'USD')
					total_patrimonio = total_patrimonio - total_deudas
					total_patrimonio = (total_patrimonio.to_f*cotizacion.to_f + biens_dolar).round
				%>
				<h3 class="total_patrimonio">Total patrimonio: <%= total_patrimonio.to_s.reverse.gsub(/...(?=.)/,'\&.').reverse %> USD</h3>
				<span>Cotización del día: 1,00 USD = <%= (1/cotizacion).round(2).to_s.gsub!(/\./,",") %> <%= currency %></span>
				<article class="inmuebles">
					<h3><span>Bienes inmuebles</span></h3>
					<a class="ver menos" href="#">ver mas</a>
	<!-- 				<div style="overflow:hidden">


					</div> -->

						<%= render partial: "home/biens_icos", locals: {biens: map_bienes(@ddjj.biens, "bienes inmuebles"), currency: currency }	 %>

				</article>

				<article class="muebles">
					<h3><span>Bienes muebles</span></h3>
					<a class="ver menos" href="#">ver mas</a>
						<%= render partial: "home/biens_icos", locals: { biens: map_bienes(@ddjj.biens, "bienes muebles"), currency: currency } %>
				</article>
				<script id="table_tooltip" type="text/x-handlebars-template">
					{{! template para tooltip dinero }}
					<table>
						<thead>
							<tr>
                                <th class="desc">Descripción</th>
                                <th>Declarante</th>
                                <th>Obs.</th>
                                <th>Origen</th>
                                <th class="val">Valor</th>
                            </tr>
						</thead>
						<tbody>
							{{#each this}}
							<tr>
								<td class="desc">
									{{nombre_bien_s}}
									{{#if descripcion}}
										- {{descripcion}}
									{{/if}}
								</td>
								<td class="vinc">
									{{#if titular_dominio}}
										{{titular_dominio}}
									{{else}}
										{{vinculo}}
									{{/if}}
								</td>
								<td class="obs">
									{{#if obs}}
										{{obs}}
									{{/if}}
								<td class="obs">
									{{#if origen}}
										{{origen}}
									{{/if}}
								</td>

								<td class="val">
									{{#if valor_fiscal}}
										{{monedas.valor_fiscal}}{{formatNumber valor_fiscal}}
									{{/if}}
									</td>
							</tr>
							{{/each}}
						</tbody>
					</table>
				</script>
				<article class="dinero">
					<h3><span>Ahorros*</span></h3>
					<a class="ver menos" href="#">ver mas</a>
					<ul class="dineros">
					<%

					dinero =  []

					@ddjj.biens.select {|x| x.tipo_bien_s.downcase == "dinero ahorros".downcase } # toma todo el dinero
						.each do | b |
							Bien::TIPO_MONEDA.each_index do |i| # separa x moneda
								if b.m_valor_fiscal_id == i
									if dinero[i]
										dinero[i] << b
									else
										dinero[i] = Array.new
										dinero[i] << b
									end
								end
							end
						end

					# logger.debug dinero.to_yaml
					total_dineros = 0
					dinero.each_index {|i|
						tmp = 0
						if dinero[i]
							dinero[i].each_index {|j|
								if dinero[i][j].valor_fiscal
									tmp += dinero[i][j].valor_fiscal
									total_dineros += dinero[i][j].valor_fiscal
								end
							}
						%>
						<li data-flag="moneda"><span class="ico <%= dinero[i][0].css_moneda_class_name %>"><%= dinero[i][0].get_moneda "fiscal" %> </span><span class="text numero total"> <%= tmp.to_s %></span>
							<div class="data"><%= dinero[i].to_json %></div>
						</li>
						<%
						end
					}
					%>
					</ul>
					<table class='tabla'><tbody><tr><td class='first'><b>SUBTOTAL:</b></td><td class='second'><b><span class='numero'><%= total_dineros.to_s %></b></span><div class='data'></div></td></tr></tbody></table>
				</article>
				<p class="nota">* INCLUYE DINERO EN EFECTIVO, DEPÓSITOS BANCARIOS Y BONOS</p>

				<article class="ingresos">
					<h3><span>Ingresos por cargo (excluídos del total patrimonio)</span></h3>
					<a class="ver menos" href="#">ver mas</a>

					<table class="tabla">
			  			<thead>
							<tr>
							  <th class="first">Cargo</th>
							  <th class="second">Importe</th>
							</tr>
						</thead>
						<tbody>

						<%= render partial: "home/biens_table", locals: { biens: map_bienes(@ddjj.biens, "ingresos cargo", true), currency: currency } %>

						</tbody>
					</table>
				</article>

				<article class="ingresos_ventas">
					<h3><span>Ingresos por venta (excluídos del total patrimonio)</span></h3>
					<a class="ver menos" href="#">ver mas</a>

					<table class="tabla">
			  			<thead>
							<tr>
							  <th class="first">Ventas</th>
							  <th class="second">Importe</th>
							</tr>
						</thead>
						<tbody>

						<%= render partial: "home/biens_table", locals: { biens: map_bienes(@ddjj.biens, "ingresos ventas", true), currency: currency } %>

						</tbody>
					</table>
				</article>

				<article class="ingresos_otros">
					<h3><span>Otros ingresos (excluídos del total patrimonio)</span></h3>
					<a class="ver menos" href="#">ver mas</a>
					<table class="tabla">
			  			<thead>
							<tr>
							  <th class="first">Otros</th>
							  <th class="second">Importe</th>
							</tr>
						</thead>
						<tbody>

						<%= render partial: "home/biens_table", locals: { biens: map_bienes(@ddjj.biens, "ingresos otros", true), currency: currency } %>

						</tbody>
					</table>
				</article>

				<article class="sociedades">
					<h3><span>Sociedades</span></h3>
					<a class="ver menos" href="#">ver mas</a>
					<table class="tabla">
			  			<thead>
							<tr>
							  <th class="first">Sociedad</th>
							  <th class="second">Importe</th>
							</tr>
						</thead>
						<tbody>

						<%= render partial: "home/biens_table_agrupados", locals: { biens: map_bienes(@ddjj.biens, "sociedades"), currency: currency } %>

						</tbody>
					</table>
				</article>

				<article class="acreencias">
					<h3><span>Acreencias</span></h3>
					<a class="ver menos" href="#">ver mas</a>
					<table class="tabla">
			  			<thead>
							<tr>
							  <th class="first">Acreencia</th>
							  <th class="second">Importe</th>
							</tr>
						</thead>
						<tbody>

						<%= render partial: "home/biens_table", locals: { biens: map_bienes(@ddjj.biens, "acreencias", true), currency: currency } %>

						</tbody>
					</table>
				</article>

				<article class="titulos">
					<h3><span>Títulos y Fondos</span></h3>
					<a class="ver menos" href="#">ver mas</a>
					<table class="tabla">
			  			<thead>
							<tr>
							  <th class="first">Títulos y Fondos</th>
							  <th class="second">Importe</th>
							</tr>
						</thead>
						<tbody>

						<%= render partial: "home/biens_table", locals: { biens: map_bienes(@ddjj.biens, "títulos y fci", true), currency: currency } %>

						</tbody>
					</table>
				</article>

				<article class="deudas">
					<h3><span>Deudas</span></h3>
					<a class="ver menos" href="#">ver mas</a>
					<table class="tabla">
			  			<thead>
							<tr>
							  <th class="first">Deudas</th>
							  <th class="second">Importe</th>
							</tr>
						</thead>
						<tbody>

						<%= render partial: "home/biens_table", locals: { biens: map_bienes(@ddjj.biens, "deudas", true), currency: currency } %>

						</tbody>
					</table>
				</article>
				<h3 class="total_patrimonio">Total patrimonio: <%= total_patrimonio.to_s.reverse.gsub(/...(?=.)/,'\&.').reverse %> USD</h3>
				<span>Cotización del día: 1,00 USD = <%= (1/cotizacion).round(2).to_s.gsub!(/\./,",") %> <%= currency %></span>
<%end%>


<%if @ddjj.obs and not @ddjj.obs.blank? %>
				<article style="padding-top: 10px; color: #666; margin-top: 20px; border-color:#ccc">
					<div class="obs_ddjj" style="padding-bottom: 10px;">
						<% if @ddjj.obs =~ /({[a-z : \/\/ \. 0-9 \- \#]*})/
						url = $1
						%>

						<p>
							<span style="font-weight: bold">Observaciones:</span> <%= @ddjj.obs.gsub(url, "") %> <%= content_tag(:a, "Haga clic aquí para ver el documento.", :href=> url.gsub(/[\{\}]/,""), :target=> "_blank")%>
						</p>
						<% else %>
						<p>
							<span style="font-weight: bold">Observaciones:</span> <%= @ddjj.obs %>
						</p>
						<% end %>
					</div>
				</article>
<% end %>
			</section>
		</div>
		<%
		otras_ddjjs = @ddjj.otras_ddjjs
		%>
		<!-- <pre>
		<%= otras_ddjjs.to_yaml %>
		</pre>
		 -->
		<%
			if otras_ddjjs.length > 0
			# if false
		%>
		<div class="col_2">
			<div class="otras">
				<h3>OTRAS DDJJ <span class="persona">de <%= @ddjj.persona_cargo.persona.nom_comp %></span></h3>
				<ul class="mas_ddjjs">
				<% otras_ddjjs.each do | dj | %>
					<li><a href="<%= url_for :action => "get_ddjj", :id => dj.flag_search %>" title='<%= "DDJJ #{dj.ano} #{dj.tipo_ddjj}" %> <%= "(Presenta carta por DDJJ)" unless dj.flag_presenta %>'><span class="circ">&nbsp;</span>ddjj <%= dj.tipo_ddjj_short %>
						<% unless dj.flag_presenta %>
						<span class="pres_carta"></span>
						<% end %>
						</a></li>
				<% end %>
				</ul>
			</div>
		</div>
		<%	end %>
	</div>
	<% if @ddjj.flag_presenta%>
	<section id="referencias">
		<h3>Referencias</h4>
		<ul id="referencias_graficas" class="spt">
			<li>casa</li>
			<li>departamento</li>
			<li>local</li>
			<li>cochera</li>
			<li>campo, terreno</li>
			<li>camioneta</li>
			<li>auto</li>
			<li>moto</li>
			<li>embarcacion</li>
			<li>pesos</li>
			<li>dolares</li>
		</ul>
		<ul id="referencias_graficas_monedas" class="spt">
			<li>$</li>
			<li>u$d</li>
		</ul>
	</section>
	<div id="notas">
		<p><span>Nota: </span>Los íconos que aparecen con una línea divisoria indican que tiene 2 o más titulares; y los íconos que poseen una transparencia, que el funcionario declaró sólo un porcentaje de dicho bien.</p>
	</div>
	<%else%>
		<br />
	<%end%>
</div>

<script type="text/template" id="tabla_tooltip">

</script>


<script type="text/javascript" charset="utf-8">
	var ddjj = new Ddjj();
	$(document).bind("ready", function(){
		var ddjj = new Ddjj();
		var ul = $("ul#list");
		if(ul.length){
			get_images_documentcloud(ul);
		}

	});
	var link_datos = $(".cont_flecha ul");
	$("ul#descargas li.cont_flecha").click(function(event) {
		link_datos.toggle("fast");
		return false;
	});
	$("ul#descargas li.cont_flecha li a").click(function(event) {
		link_datos.toggle("fast");
		var w = window.open( this.href, "_blank");//, "descargar", "toolbar=no, location=no, resizable=no, scrollbars= no, top=20%,left=50%" );
		return false;
	});
</script>
