
<style type="text/css">
	ul#lista_personas { margin-left: -1.5%}
	ul#lista_personas li { width: 30%; min-height: 140px; float: left; margin: 20px 0 0 3%; text-align: center; border: solid 1px #999; padding: 10px 0 }
	ul#lista_personas li img { width: 100px; height: 68px; display: block; margin: 10px auto; background: #ddd; }
	@media screen and (max-width: 980px) {
		ul#lista_personas li { width: 46%; }
	}
	@media screen and (max-width: 768px) {
		ul#lista_personas li { width: 98%; }
	}
</style>
<div class="header_top">	
<h1>DECLARACIONES JURADAS ABIERTAS<span class="beta">Beta</span></h1>
<p>El patrimonio de los funcionarios públicos de la Argentina</p>
<p><a href="<%= url_for "index"%>">Ir a la plicación</a></p>
</div>
<ul id="lista_personas">
<% @p.each do |p| %>
<li>
	<h2><%=p.nom_comp%></h2>
		<img src="<%= p.get_img_nacion 100 %>" alt="<%=p.nom_comp%>"/>
		<%if p.tag_id%>
		<%end%>
		
		<a href="<%= p.url_buscador_app %>" title="Ver declaraciones juradas de <%=p.nom_comp%>">Ver declaraciones juradas</a>
		<%if p.tag_id%>
		<br />
		<a href="<%= p.get_tag_nacion%>" title="Ver notas relacionadas con <%=p.nom_comp%>">Ver notas relacionadas</a>
		<%end%>
		
</li>
<% end %>
</ul>
